
<div class="container">
  <div class="left">
    <div class="left-content">
      <app-table-regiter [datas]="histories" [title]="'Historico de datos'"></app-table-regiter>
      <app-table-regiter *ngFor="let a of datas" [datas]="a.points" [title]="a.title"></app-table-regiter>
    </div>
  </div>
  <div class="right">
    <div id="map"
         leaflet
         [leafletOptions]="options" (leafletClick)="clicked($event)">
      <div *ngIf="layer" [leafletLayer]="layer"></div>
    </div>
    <app-dialog-new *ngIf="point&&pos" [point]="getPoint()" [l]="getPos()" (accept)="process($event)" (closed)="point=null"></app-dialog-new>
  </div>
</div>
<router-outlet></router-outlet>
