/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#map{
  width: 100%;
  height: 100%;
  position: absolute !important;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
}
.left{
  position: relative;
  display: inline-block;
  width: 630px;
  height: 100%;
  background: #fdfffc;
}
.right{
  position: relative;
  display: inline-block;
  width: calc(100% - 630px);
  height: calc(100% - 0px);
  background: #f4f5ff;
}
.menu{
  position: relative;
  margin: auto;
}
.menu {
  .item-menu{

  }
}
table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
td{
  border: solid 1px #cacaca;
}
table {
  .in{
  margin-top: 20px;

  }
}

